html {
  height: 100%;
}
body {
  user-select: none;
  min-height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
button, input[type=button] {
  font-family: 'Open Sans', sans-serif;
  outline: none;
}
